Time:
<select name="time">
  <option value="5">5 mins</option>
  <option value="15">15 mins</option>
  <option value="30">30 mins</option>
  <option value="45">45 mins</option>
  <option value="60">60 mins</option>
</select>


<h2>Top Tags</h2>


<div *ngIf="tagAndCount.length > 0; else noItems">
  <div *ngFor="let tag of tagAndCount">
    <a [routerLink]="['/news', tag.tag]">{{tag.tag}} &nbsp; <span>(<span>{{tag.count}}</span>)</span></a>

  </div>
</div>

<ng-template #noItems>
  <span>No Tags Found</span>
</ng-template>
